/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Open-Sans', sans-serif;
    background-color: #5C6B73;
}

.main-content{
    padding-top: 60px;
    color: #253237;
}


